@using DesafioDotNet.Presentation.Models;
@model DesafioDotNet.Presentation.Models.AmigoViewModel

@{
    ViewBag.Title = "Amigos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AMIGOS</h2>

@using (Html.BeginForm())
{
    <h3>CADASTRO</h3>
    <br />
    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.Amigo.Codigo, new { id = "hdnCodigo" })

        <div>
            <div class="editor-label">
                @Html.Label("", "*Nome")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Amigo.Nome, new { id = "txtNome", @class = "js-obrigatorio" })
            </div>
        </div>

        <div>
            <div class="editor-label">
                @Html.Label("", "Apelido")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Amigo.Apelido, new { id = "txtApelido" })
            </div>
        </div>

        <p>
            <input id="btnSalvar" type="submit" value="Salvar" />
            <input id="btnCancelar" class="invisivel" type="submit" value="Cancelar" />
        </p>
    </fieldset>
}

<div>
    @Html.Partial("~/Views/Shared/_Datatables.cshtml", new DatatablesViewModel("tblAmigos"))
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Amigo/Index.js"></script>
}
